@layer starlight, rose-pine;

@layer rose-pine {
    :root,
    ::backdrop {
        --sl-color-accent-low: #131e4f;
        --sl-color-accent: #3447ff;
        --sl-color-accent-high: #b3c7ff;
        --sl-color-white: #e0def4;
        --sl-color-gray-1: #908caa;
        --sl-color-gray-2: #6e6a86;
        --sl-color-gray-3: #56526e;
        --sl-color-gray-4: #44415a;
        --sl-color-gray-5: #393552;
        --sl-color-gray-6: #2a273f;
        --sl-color-black: #232136;
    }

    :root[data-theme="light"],
    [data-theme="light"] ::backdrop {
        --sl-color-accent-low: #c7d6ff;
        --sl-color-accent: #364bff;
        --sl-color-accent-high: #182775;
        --sl-color-white: #17181c;
        --sl-color-gray-1: #24272f;
        --sl-color-gray-2: #353841;
        --sl-color-gray-3: #545861;
        --sl-color-gray-4: #888b96;
        --sl-color-gray-5: #c0c2c7;
        --sl-color-gray-6: #eceef2;
        --sl-color-gray-7: #f5f6f8;
        --sl-color-black: #ffffff;
    }
}
