@layer rose-pine {
  :root {
    --sl-color-accent-low: hsl(343, 76%, 23%);
    --sl-color-accent: hsl(343, 76%, 68%);
    --sl-color-accent-high: hsl(343, 76%, 93%);

    --sl-color-white: #e0def4;
    --sl-color-gray-1: #908caa;
    --sl-color-gray-2: #6e6a86;
    --sl-color-gray-3: #56526e;
    --sl-color-gray-4: #44415a;
    --sl-color-gray-5: #393552;
    --sl-color-gray-6: #2a283e;
    --sl-color-gray-7: #2a273f;
    --sl-color-black: #232136;

    --sl-hue-orange: 35;
    --sl-color-orange-low: hsl(35, 88%, 42%);
    --sl-color-orange: hsl(35, 88%, 72%);
    --sl-color-orange-high: hsl(35, 88%, 87%);

    --sl-hue-green: 197;
    --sl-color-green-low: hsl(197, 48%, 37%);
    --sl-color-green: hsl(197, 48%, 67%);
    --sl-color-green-high: hsl(197, 48%, 62%);

    --sl-hue-blue: 189;
    --sl-color-blue-low: hsl(189, 43%, 43%);
    --sl-color-blue: hsl(189, 43%, 73%);
    --sl-color-blue-high: hsl(189, 43%, 88%);

    --sl-hue-purple: 267;
    --sl-color-purple-low: hsl(267, 57%, 48%);
    --sl-color-purple: hsl(267, 57%, 78%);
    --sl-color-purple-high: hsl(267, 57%, 93%);

    --sl-hue-red: 343;
    --sl-color-red-low: hsl(343, 76%, 38%);
    --sl-color-red: hsl(343, 76%, 68%);
    --sl-color-red-high: hsl(343, 76%, 83%);

    color-scheme: dark;
  }
}